[Unit]
Description=Backup Windows aopc2 C drive hourly
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/backup_windows.sh aopc2 "/mnt/aopc2_c" "/data/backup/aopc2_c"
KillMode=process
Restart=always
PIDFile=/run/backup_windows_aopc2_c.pid
RestartSec=600
TimeoutStartSec=5
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
